body {
    align-items: center;
    text-align: center;
    padding-top: 300px;
    background-image: url('https://e0.pxfuel.com/wallpapers/564/875/desktop-wallpaper-city-shop-anime.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}

h2 {
    background-color: rgba(214, 222, 222, 0.313);
    color: black;
}

div {
    background-color: rgba(214, 222, 222, 0.313);
    color: black;
}

h1 {
    background-color: rgba(214, 222, 222, 0.313);
    color: black;
}

